<app-nav-bar></app-nav-bar>
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group" style="font-weight: bold">
    <label for="userName">Username</label>
    <input id="userName" type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group" style="font-weight: bold" >
    <label for="password">Password</label>
    <input id="password"type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-sample">Login</button>
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
  </div>
</form>






<!--<h2>Login</h2>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--<div class="form-group">-->
<!--<label for="userName">Username</label>-->
<!--<input  id="userName" type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />-->
<!--<div *ngIf="submitted && f.userName.errors" class="invalid-feedback">-->
<!--<div *ngIf="f.userName.errors.required">Username is required</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password">Password</label>-->
<!--<input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
<!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--<div *ngIf="f.password.errors.required">Password is required</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-primary">Login</button>-->
<!--</div>-->
<!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
<!--</form>-->



